.projet{

  &__text{
    span{
      transform: translate3d(50px,0, 0);
      opacity: 0;
      transition: .8s $bounce;
    }
  }

  &__title{
    position: absolute;
    bottom: 100%;
    left: 0;
  }

  &__meta{
    position: absolute;
    top: 100%;
    right: 0;
    text-align: right;
  }

  &__item{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 50vh;
    z-index: 20;

    &.active{
      transform: translate3d(0,-4px,0);
      transition: .4s ease-out;
      z-index: 100;

      .projet{

        &__text{
          @for $i from 1 through 30{
            span:nth-of-type(#{$i}){
              transform: translate3d(0,0, 0);
              opacity: 1;
              transition-delay: #{$i*0.1}s;
            }
          }
        }

        &__image{
          box-shadow: 0 30px 33px -25px rgba(0,0,0,.7);
        }
      }
    }
  }

  &__image{
    position: absolute;
    max-width: 100%;
    top: 50%;
    left: 50%;
    box-shadow: 0 30px 33px -25px rgba(0,0,0,0);
    transition: transform .3s linear, box-shadow .4s ease-in-out;
  }

}